*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
/*
    The above standardized CSS reset was provided by Josh Comeau
    @ https://www.joshwcomeau.com/css/custom-css-reset/
*/

nav * {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.noStyle {
    list-style: none;
}

nav ul {
    margin-left: 50%;
    margin-top: 2%;
}

#headerLogo {
    position: absolute;
    left: 1%;
    top: 1%;
}